*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
     gap:15px;
     width:670px;
     grid-template-columns: 1fr 1fr 1fr ;
     margin: 45px 0 0 390px ;
     border: 2px solid white;
     background-color: rgb(230, 67, 67);
}
.grid img{
    height: 200px;
    width: 200px;
}


